{% extends "/public/start.html" %}

{%set verify = route=='verify'%}

{%block links%}
<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/public/auth.css')}}">
{%include 'public/{}/scripts.html'.format(route) %}
{%endblock%}

{%block route%}
{%if not verify%}
	Enter the following data to identify yourself. Then an email shall be sent to you.
{% else %}
	Enter the password to proceed further.
{%endif%}
{%endblock%}

{%block content%}
	{%if not verify %}
		{%if route=='signup'%}
			<input id="email" type="text" placeholder="Thy email">
			<input id="username" type="text" placeholder="Thy username">
			<input id="name" type="text" placeholder="Thy name">
			<input id="about" type="text" placeholder="About yourself">
		{%elif route=='login'%}
			<input id="identification" type="text" placeholder="Thy email or username">
		{%endif%}
		<input id="identify" class="button identify" type="button" value="identify">
	{%else%}
		<input id="password" type="password" placeholder="Thy password">
		<input id="verify" class="button verify" type="button" value="verify">
	{%endif%}
	<div class="feedback"></div>
{%endblock%}