{% extends "/public/start.html" %}

{%set verify = route=='verify'%}
{%set confirm = route=='confirm'%}

{%block links%}
<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/public/auth.css')}}">
{%include 'public/{}/scripts.html'.format(route) %}
{%endblock%}

{%block route%}
	{%if verify%}
		Enter the password to proceed further.
	{% elif confirm%}
		{% set delete = action=='delete' %}
		{{'Please enter the {} to confirm the {}.'.format('current and a new password' if not delete else 'password','termination of thy account' if delete else 'password reset')}}	
	{% else %}
		Enter the following data to identify yourself. Then an email shall be sent to you.
{%endif%}
{%endblock%}

{%block content%}
	{%if not verify and not confirm %}
		{%if route=='signup'%}
			<input id="email" type="text" placeholder="Thy email">
			<input id="username" type="text" placeholder="Thy username">
			<input id="name" type="text" placeholder="Thy name">
			<input id="about" type="text" placeholder="About yourself">
		{%elif route=='login'%}
			<input id="identification" type="text" placeholder="Thy email or username">
		{%endif%}
		<input id="identify" class="button identify" type="button" value="identify">
	{%else%}
		<input id="{{'{}password'.format('current_' if action=='put' else '')}}" type="password" placeholder="Thy password">
		{% if confirm and action=="put" %}
			<input id="new_password" type="password" placeholder="New password">	
		{% endif %}
		<input id={{route}} class="button verify" type="button" value="{{route}}">
	{%endif%}
	<div class="feedback"></div>
{%endblock%}