.card{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 20;
	border-radius: 20px;
	background-color: #2e2e2f;
	color: white;
	max-width: 30%;
	width: 50%;
	display: grid;
	opacity: 1;
	transition: .5s;
	box-shadow: 0px 0px 10px white;
	grid-auto-flow: row;
	/*grid-template-areas:
		"card_tab"
		"card_title"
		"card_header"
		"card_body"
		"card_links"
		"card_utilities";*/
	font-family: Segoe UI,Agency FB;
}

.card_tab{
	display: grid;
	/*grid-area: card_tab;*/
	place-content: center end;
	border-radius: 20px 20px 0px 0px;
	padding: 10px;
	border-bottom: 1.5px solid #80808038;
}

.card_title{
	display: grid;
    /*grid-area: card_title;*/
    place-content: center start;
    padding: 5px;
    font-family: revert;
    font-weight: 100;
    justify-content: center;
    color: #292929;
    background-color: #ffffff;
    border-bottom: 1.5px solid #80808038;
    border-radius: 0px 0px 0px 0px;
}
.card_header{
	display: grid;
	/*grid-area: card_header;*/
	place-content:center start;
	padding: 5px;
	font-family: Consolas;
	font-weight: 100;
	justify-content: center;
	color: #ffffff;
	background-color:  #292929;
	border-bottom: 1.5px solid #80808038;
	border-radius: 0px 0px 0px 0px;
}

.information_block{
    font-weight: 100;
    overflow-wrap: anywhere;
    padding: 10px;
}

.card_body{
	/*grid-area:card_body;*/
	padding:10px;
	display:grid;
	grid-row-gap:5px;
	color: #ffffff;
	font-size: 20px;
	font-family: Agency fb;
	font-weight: bolder;
}
.card_utilities{
	grid-gap: 10px;
    display: grid;
    padding: 10px;
    justify-items: center;
    grid-template:
        "a b"
        "c d";
    background-color: #292929;
    border-radius: 0px 0px 20px 20px;
}

.card_links{
	display: grid;
	/*grid-area:card_links;*/
	padding: 10px;
	font-family: agency fb;
	font-weight: bolder;
	font-size: 20px;
}