<template id="account_card_template">
	<div class="card">
		<div class="card_tab">
			<input id="close_button" type="button" class="close_button" style="border-radius:20px;" value="✕">
		</div>
		<div class="card_title">
			UTILITIES
		</div>
		<div class="card_header">
			Here you may perform actions,related to thy account.
		</div>
		<div class="card_utilities">
			<input id="new_chat_button" type="button" class="utility_button" value="&#128490;">
			<input id="logout_button" type="button" class="utility_button" value="&#9735;">
		</div>
	</div>
</template>

<template id="user_card_template">
	<div class="card">
		<div class="card_tab">
			<input id="close_button" type="button" class="close_button" style="border-radius:20px;" value="✕">
		</div>
		<div class="card_title">
			USER CARD
		</div>
		<div class="card_header">
			<div id="identification">
			</div>
		</div>
		<div class="card_body">
			Information:
			{% for key in ['email','name','about'] %}
				<div class="information_block">
					<label>{{key}}:</label><span id="{{key}}"></span>
				</div>
			{% endfor %}
		</div>
		<div class="card_links">
			Common chats:
			<div class="list_body" style="max-height: 35vh;">
			</div>
		</div>
		<div class="card_utilities">
			<input id="account_button" type="button" class="utility_button" value="&#128100;">
		</div>
	</div>
</template>

<template id="chat_card_template">
	<div class="card">
		<div class="card_tab">
			<input id="close_button" type="button" class="close_button" style="border-radius:20px;" value="✕">
		</div>
		<div class="card_title">
			CHAT CARD
		</div>
		<div class="card_header">
			<div id="identification">
			</div>
		</div>
		<div class="card_body">
			Information:
			{% for key in ('creator',) %}
				<div class="information_block">
					<label>{{key}}:</label><span id="{{key}}"></span>
				</div>
			{% endfor %}
		</div>
		<div class="card_links">
			Participants:
			<div class="list_body" style="max-height: 35vh;">
			</div>
		</div>
		<div class="card_utilities">
			<input id="eliminate_button" type="button" class="utility_button" value="&#128465;">
		</div>
	</div>
</template>

<template id="new_chat_card_template">
	<div class="card">
		<div class="card_tab">
			<input id="close_button" type="button" class="close_button" style="border-radius:20px;" value="✕">
		</div>
		<div class="card_title">
			NEW CHAT
		</div>
		<div class="card_header">
			<input id="chat_name" type="text" placeholder="Enter a name for the chat.">
		</div>
		<div class="card_body">
			<div class="search_block">
				<input data-type="participant" id="search_field" type="search" placeholder="(Optional) Search for a interlocutor.">
			</div>
		</div>
		<div class="card_utilities">
			<input data-participant_id='' id="establish_chat_button" type="button" class="utility_button" value="&#128221;">
		</div>
	</div>
</template>