<template id="chat_bottom_idle">
	<textarea class="message_input"></textarea>
	<div class="chat_utilities">
		<input id="send_message" type="button" class="utility_button" value="&#8689;">
		<input data-message_id id="delete_message" type="button" class="utility_button" value="Delete">
	</div>
</template>

<template id="chat_bottom_active">
	<div class="chat_utilities">
		<input data-message_id=[] id="delete_message" type="button" class="utility_button" value="Delete">
		<input id="cancel_button" type="button" class="utility_button" value="Cancel">
	</div>
</template>
