<template id="message">
	<div class="chat_message">
		<div class="left_block">
			<div id="sender" class="user_info"><a class="link" onclick="build_a_card()">user{{i%2}}</a></div>
			<div id="message_content" class="message_content">message {{i}}</div>
		</div>
		<div class="right_block">
			<div id="readeble_dnt" class="dnt"></div>
			<input id="dnt" type="hidden">
			<div id="remove_message" class="utility_block"><input type="button" class="utility" value="&times;"></div>
		</div>
	</div>
</template>