<template id="source_block_template">
	<!-- list_item shall contain a dataset for the participant_id if the class is participant!-->
	<div class="dark source_block list_item">
		<!-- left source block should contain a attribute for the data-[user_id/chat_id/identification] , then this could be reached from the js as element.dataset!-->
		<div id="source_link" class="left_source_block">
			Source
		</div>
		<div class="right_source_block">
			<input id="head_to_source" type="button" class="head_button" value="&#10159;">
		</div>
	</div>
</template>