<template id="user">
	<div class="dark user_block">
		<div class="user_info"><a class="link" onclick="build_a_card({information:{username:'user1',email:'username@gmail.com',name:'name1',about:'about me...'}})">User_{{i}}</a></div>
		<div class="utility_block">
			<input id="create" type="button" class="utility" value="&#9998;">
			<input id="chat" type="button" class="utility" value="&#10159;" onclick="window.location='/chat/2'">
			<input id="remove" type="button" class="utility" value="&#10008;">
		</div>
	</div>
</template>