<script src="{{url_for('static',filename='js/crypto.js')}}" ></script>
<script src="{{url_for('static',filename='js/token.js')}}" ></script>
<script src="{{url_for('static',filename='js/rest/key_parameters.js')}}" ></script>
<script src="{{url_for('static',filename='js/rest/unauthorized/grant.js')}}" ></script>
<script src="{{url_for('static',filename='js/authentication/verification/controller.js')}}" ></script>
<script src="{{url_for('static',filename='js/authentication/verification/strategy.js')}}" ></script>
<script src="{{url_for('static',filename='js/authentication/verification/events.js')}}" ></script>

