<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/authorized/init.css')}}">
	{%include 'authorized/scripts.html'%}
</head>
<body>

	<div id="overlay"></div>	
	<div class="layout">
		<div class="grid_layout">
			<div class="item header_layout">
				<div class="left">
					<a class="link" href="/">chatHouse &#127968;</a>
				</div>
				<div class="right">
					<div data-user_id={{current_user.id}} id="source_link" class="left_source_block">
						{{current_user.username}}
					</div>
				</div>
			</div>
			<div class="item left_layout">
				<div class="search_block">
					<input data-type="user" id="search_field" type="search" placeholder="Search...">
				</div>
				<div class="list">
				</div>
			</div>
			<div class="item chat_layout">
				
				<div class="chat_header">
					{% if current_chat %}
						<div data-chat_id={{current_chat.id}} id="source_link" class="left_source_block">
							{{current_chat.name}}
						</div>
					{% else %}
						Select a chat.
					{% endif %}
				</div>
				{% if current_chat %}
				<div class="chat_content">
					<div id="chat_sentinel"></div>
				</div>
				
				<div class="chat_bottom">
					<textarea id="message_field" class="message_input"></textarea>
				</div>
				{% endif %}

			</div>
			<div class="item notification_layout">

			</div>
		</div>
	</div>

	{%include 'authorized/template/card.html'%}
	{%include 'authorized/template/source.html'%}
	{%include 'authorized/template/list.html'%}
	{%include 'authorized/template/chat_utilities.html'%}
	{%include 'authorized/template/message.html'%}
	{%include 'authorized/template/notification.html'%}

</body>
</html>