<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/authorized/chat.css')}}">
	{%include 'authorized/scripts.html'%}
</head>
<body>
	{%include 'authorized/template/user_card.html'%}
	{%include 'authorized/template/chat_card.html'%}
	<div id="overlay"></div>

	<div class="layout">
		<div class="grid_layout">
			<div class="item header_item">
				<div class="left">
					<a class="link" href="/">chatHouse</a>
				</div>
				<div class="right">
					<a class="link" id="user">{{current_user.username}}</a>
				</div>
			</div>
			<div class="item users_item">
				<div class="search_block">
					<input id="search_field" type="search" placeholder="Search...">
				</div>
				<div id="chat_list" class="list">
					{% for chat in current_user.chats%}
						<div class="user_block">
							<div class="user_info">
								<a id="user" class="link">{{chat.name}}</a>
							</div>
							<div class="utility_block">
								<input id="create" type="button" class="utility" value="&#9998;">
								<input id="chat" type="button" class="utility" value="&#10159;" onclick="window.location='/chat?id={{chat.id}}'">
								<input id="remove" type="button" class="utility" value="&#10008;">
							</div>
						</div>
					{%endfor%}
				</div>
				<div id="search_list" class="list">
					{%for i in range(100)%}
						<div class="user_block">
							<div class="user_info"><a class="link" href="/">User_{{i}}</a></div>
							<div class="utility_block"><input type="button" class="utility" value="&times;"></div>
						</div>
					{%endfor%}
				</div>
			</div>
			<div class="item chat_item">
				<div class="chat_header">
					{% if chat %}
					<a class="link" chat-id="{{chat.id}}">{{chat.name}}</a>
					{% else %}
					<span>Select a chat</span>
					{% endif %}
				</div>
				<div class="chat_content">
					{%for i in range(100)%}
						<div class="{{'sent ' if (i%2)==0 else 'received '}}chat_message">
							<div class="left_block">
								<div class="user_info"><a class="link" onclick="build_a_card('user',{information:{username:'user{{i}}',email:'username{{i}}@gmail.com',name:'name{{i}}',about:'about me.{{i}}.'}})">user{{i%2}}</a></div>
								<div class="message_content">message {{i}}</div>
							</div>
							<div class="right_block">
								<div class="dnt">2012.04.02</div>
								<div class="utility_block"><input type="button" class="utility" value="&times;"></div>
							</div>
						</div>
					{%endfor%}
				</div>
				<div class="chat_bottom">
					<textarea class="message_input"></textarea>
					<div class="chat_utilities">
						<input type="button" class="send_message_button" value="&#8689;">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>