<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
	
<script src="{{url_for('static',filename='js/crypto.js')}}" ></script>
<script src="{{url_for('static',filename='js/token.js')}}" ></script>

<script src="{{url_for('static',filename='js/rest/access.js')}}" ></script>
<script src="{{url_for('static',filename='js/rest/chat.js')}}" ></script>
<script src="{{url_for('static',filename='js/rest/user.js')}}" ></script>

<script src="{{url_for('static',filename='js/management/user.js')}}" ></script>
<script src="{{url_for('static',filename='js/management/tokens.js')}}" ></script>

<script src="{{url_for('static',filename='js/authorized/card.js')}}" ></script>
<script src="{{url_for('static',filename='js/authorized/build.js')}}" ></script>
<script src="{{url_for('static',filename='js/authorized/list.js')}}" ></script>
<script src="{{url_for('static',filename='js/authorized/controller.js')}}" ></script>
<script src="{{url_for('static',filename='js/authorized/select.js')}}" ></script>
<script src="{{url_for('static',filename='js/authorized/strategy.js')}}" ></script>

<script src="{{url_for('static',filename='js/sockets/chat.js')}}" ></script>
<script src="{{url_for('static',filename='js/sockets/notification.js')}}" ></script>

<script src="{{url_for('static',filename='js/authorized/events.js')}}" ></script>