<script src="{{url_for('static',filename='js/token.js')}}" ></script>
<script src="{{url_for('static',filename='js/chat/init.js')}}" ></script>
<script src="{{url_for('static',filename='js/chat/controller.js')}}" ></script>
<script src="{{url_for('static',filename='js/chat/events.js')}}" ></script>
<script src="{{url_for('static',filename='js/chat/card.js')}}" ></script>
<script src="{{url_for('static',filename='js/chat/events.js')}}" ></script>
<script src="{{url_for('static',filename='js/rest/user.js')}}" ></script>
<script src="{{url_for('static',filename='js/rest/public_keys.js')}}" ></script>